.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.8);
}

.modal {
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 560px;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(255 255 255 / 78%);
	color: black;
	&-box{
		display: flex;
    	flex-direction: column;
   		 margin-top: 5px;
	}
	&-content{
		text-align: center;
		padding: 10px;
	}

	.modal-close {
		position: absolute;
		right: 16px;
		top: 8px;
		display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
		align-items: center; justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
		fill: #ffff;
	}
 	.modal-header{
		margin-bottom: 24px;
		
	} 

	h4 {
		margin: 0;
		font-size: 24px;
		text-align: center;
	}

	.modal-footer {
		margin-top: 24px;
	}

	.button-wrapper {
		padding: 20px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}

.btn {
	position: relative;
	display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
	align-items: center; justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	user-select: none;
	background-color: rgba( #1E90FF, 0.9);
	font-family: Roboto,sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 32px;
	border-radius: 10px;
	width: 90px;
}

