.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3,37,65, 1);
    min-height: 104px;
    width: 100%;
    transition: top 0.2s linear;
}

.header__logo {
    position: absolute;
    left: 30px;
    .logo {
        display: flex;
        width: 140px;
        text-decoration: none;
        &--text{
            text-decoration: none;
            color: white;
            margin: auto;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }
    
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    .header__favorites-list {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 16px;
        padding-right: 30px;
        .icon-favorite {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            margin-left: 8px;

            svg {
                width: 100%;
                fill: currentColor;
            }

            .count {
                position: absolute;
                top: -12px;
                right: -5px;
                font-size: 10px;
                color: #fff;
                &--cart{
                    top: -15px;
                }
            }
        }
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}